:root {
  --princetonOrange: #fa8334;
  --laserLemon: #fffd77;
  --yellowCrayola: #ffe882;
  --metallicSeaweed: #388697;
  --darkPurple: #271033;
}

* {
  font-family: 'Brygada 1918', serif;
}

.home-grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 85vh;
}

.portfolio-grid {
  display: grid;
  height: 85vh;
  grid-auto-rows: auto;
  grid-template-areas:
    'title'
    'deck';
}

#portfolio-title {
  grid-area: title;
}

#deck {
  grid-area: deck;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-light {
  background-color: var(--yellowCrayola);
  /* color: var(--darkPurple); */
}

.portfolio-dark {
  background-color: var(--metallicSeaweed);
}

.nav-light {
  background-color: var(--princetonOrange);
}

.nav-light a {
  background-color: var(--princetonOrange);
  color: var(--darkPurple);
}

.nav-dark {
  background-color: var(--darkPurple);
}

.nav-dark a {
  color: var(--princetonOrange);
}

button {
  width: 5rem;
  height: 3rem;
  margin-top: 2vh;
}

div[class^='bio-'],
div[class^='skills-'],
div[class^='portfolio-'],
div[class^='hobbies-'] {
  padding: 25px;
}

.bio-light {
  background-color: var(--yellowCrayola);
  color: black;
}

.bio-dark {
  background-color: var(--metallicSeaweed);
  color: white;
}

.skills-light {
  background-color: lightgray;
  color: black;
}

.skills-dark {
  background-color: gray;
  color: white;
}

#flag-btn {
  font-size: 1.5rem;
}

h1::before,
p::before {
  color: var(--princetonOrange);
  font-size: x-small;
  font-family: 'Dancing Script', cursive;
}

p::before {
  content: '<p>';
}

h1:before {
  content: '<h1>';
}

.nav {
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#theme-btn {
  grid-column-start: 11;
  grid-column-end: 12;
}

#flag-btn {
  grid-column-start: 12;
  grid-column-end: 13;
}

#logo {
  width: 40px;
  height: 40px;
  margin-left: 2vw;
}

.nav-item > a {
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 2vh;
}

footer {
  height: 5vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 5px;
}

.footer-light {
  background-color: var(--princetonOrange);
  color: var(--darkPurple);
}

.footer-dark {
  background-color: var(--darkPurple);
  color: var(--princetonOrange);
}

.footer-img {
  height: 30px;
  width: 30px;
}

a.gh {
  grid-column: 1;
}

footer > p {
  grid-column: 5 / 9;
}

a.li {
  grid-column: 13;
}

.hobbies-grid {
  height: 85vh;
}

.hobby-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.hobby-img {
  height: 30%;
}

.hobbies-light {
  background-color: var(--yellowCrayola);
  /* color: var(--darkPurple); */
}

.hobbies-dark {
  background-color: var(--metallicSeaweed);
}